In [213]:
# Twitter dataset

import pandas as pd
import nltk
from nltk.corpus import stopwords
import re
import string


df= pd.read_csv("/Users/sarwaridas/Downloads/trainingandtestdata/training.1600000.processed.noemoticon.csv",encoding='latin-1',header=None)#,names=["label","ID","date","query","user","text"])
#df.drop(['query','user','ID','date'],axis=1,inplace=True)   
df.head()

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [214]:
df[0]=df[0].replace(to_replace=4,value=1)
df[0].value_counts()

0    800000
1    800000
Name: 0, dtype: int64

In [215]:
#df.sample(50000).to_csv("sentiment140-small.csv", header=None, index=None)

In [216]:
df[0].unique()

array([0, 1])

In [217]:
df.columns= ["label","ID","date","query","user","text"]

In [218]:
#setting label values to 0 & 1
# df['label']= df['label'].replace({4:1})
# df.label.value_counts()

In [219]:
# data_pos= df[df['label']==1] #splitting by pos & neg tweets
# data_neg= df[df['label']==0]
# data_pos= data_pos.iloc[:int(20000)] #taking 1/4th of data
# data_neg= data_neg.iloc[:int(20000)]
# data=pd.concat([data_pos,data_neg])

In [220]:
df.label.value_counts()

0    800000
1    800000
Name: label, dtype: int64

In [221]:
punc=string.punctuation
def cleaning_punctuations(text):
  translator=str.maketrans("","",punc)
  return text.translate(translator)


def pre_processing_01(tweet):
  '''
  Basic pre-processing to clean data:
  1. Usernames
  2. URLs
  3. Special Characters
  4. Multiple Spaces
  5. Emails
  6. Numbers
  7. Single Chars
  '''
  tweet=tweet.str.lower()
  tweet = tweet.apply(lambda x:re.sub('@[^\s]+','',str(x))) # Remove Handles (aka usernames)
  tweet = tweet.apply(lambda x:re.sub('((www\.[^\s]+)|(https?://[^\s]+))','',str(x))) # Remove URLs
  tweet= tweet.apply(lambda x:' '.join(re.findall(r'\w+', str(x)))) #remove special chars
  #tweet= tweet.apply(lambda x:cleaning_punctuations(x)) #remove punctuations
  tweet = tweet.apply(lambda x:re.sub('@[^\s]+','',str(x))) # Remove emails
  tweet = tweet.apply(lambda x:re.sub('[0-9]+','',str(x))) # Remove numbers
  #
  # tweet= tweet.apply(lambda x:re.sub(r'\s+', ' ', str(x), flags=re.I)) #replace multiple spaces with single space
  tweet = tweet.apply(lambda x:re.sub(r'\s+[a-zA-Z]\s+', '', x))
  return tweet

In [222]:
df['text']= pre_processing_01(df.text)

In [227]:
df.text.sample(20)

572348            hate impatientd work would take long catch
1093714    woke withpretty bad headache cure mango kiwi p...
1433929                         realscould totally less hour
690856      amm fuckin tired hours straight naps gnite vegas
1023589                                   thank god itfriday
338254                               smell really really bad
194234                god dammitwant bright futurelike color
95127              poor computer barely get internet anymore
1406819                                                yaaay
1284897     listening music today would begreat day go beach
115491                                 get room needbig rest
681625                              hopes big teddy fad okay
902384     rockstar photographer shoot went great tonight...
955099           hilltop hoods great squashed pit lost voice
1351092    loading people messages whilelisten veronicas ...
181034                                        boss job scary
483688                   gotcoldswear god ifve got swine flu
404990                     stuck home thesis onsaturday nite
768084     remember ittransformers opening day side world...
136334                   annoyed sainsbugs online isnworking
Name: text, dtype: object

In [19]:
from nltk.tokenize import RegexpTokenizer

stopwords_list=set(stopwords.words('english'))
def cleaning_stopwords(text):
    return " ".join([word for word in str(text).split() if word not in stopwords_list])


def pre_processing_02(data):
    '''
    1. Removing stopwords (using NLTK)
    2. Stemming
    3. Lemmitization
    
    '''
    data.text=data.text.apply(lambda x: cleaning_stopwords(x)) #removing stopwords
    # tokenizer=RegexpTokenizer(r'\w+')
    # data.text=data.text.apply(tokenizer.tokenize)
    #data.text= data.text.apply(lambda x: stemming_on_text(x))
    #data.text= data.text.apply(lambda x: lemmatizer_on_text(x))
    return data



#data['text2']= pre_processing_02(data)


#Tokenizing

In [224]:
#Removing stop words

stopwords_list=set(stopwords.words('english'))
def cleaning_stopwords(text):
  return " ".join([word for word in str(text).split() if word not in stopwords_list])
df.text=df.text.apply(lambda x: cleaning_stopwords(x))

In [144]:
# Stemming

def stemming_on_text(data):
    st=nltk.PorterStemmer()
    text= [st.stem(word) for word in data]
    return data
data.text= data.text.apply(lambda x: stemming_on_text(x))

In [145]:
#Lemmitization

from nltk.stem import WordNetLemmatizer 
def lemmatizer_on_text(data):
    wnl = WordNetLemmatizer()
    text= [wnl.lemmatize(word) for word in data]
    return data
data.text= data.text.apply(lambda x: lemmatizer_on_text(x))

In [146]:
all_text = ''.join([c for c in data.text])
words_split = all_text.split(" ")
len(list(set(words_split)))
#print ('Number of words :', len(words_split))

76089

In [147]:
# from collections import Counter
# # Count all the words using Counter Method
# count_words = Counter(words_split)

# total_words = len(count_words)
# sorted_words = count_words.most_common(50000)
# keepwords= list(set([x[0] for x in sorted_words]))
nltk.download('words')
from nltk.corpus import words

def keeping_common_words(text):
    return " ".join([word for word in str(text).split() if word in words.words()])

[nltk_data] Downloading package words to
[nltk_data]     /Users/sarwaridas/nltk_data...
[nltk_data]   Package words is already up-to-date!

In [148]:
# data.text=data.text.apply(lambda x: keeping_common_words(x))
# data.text.head()

data.shape

(40000, 2)

In [149]:
data.to_csv("CLEANED_FOR_REAL.csv")

In [151]:
data.isna().sum()

label    0
text     0
dtype: int64

In [152]:
os.getcwd()

'/Users/sarwaridas/Desktop/IDS 703/703-final-project/10_code'