In [3]:
import pandas as pd

In [2]:
import yfinance as yf
from yahoofinancials import YahooFinancials

In [5]:
nlp_df = yf.download(['ZM','GME','AMC','UAL','FOXA','DOGE-USD'], 
                      start='2019-01-11', 
                      end='2021-12-01', 
                      progress=False,
)
nlp_df.head()

            Adj Close                                           Close  \
                  AMC  DOGE-USD FOXA        GME        UAL  ZM    AMC
Date
2019-01-11  12.968035  0.002129  NaN  15.329879  80.070000 NaN  14.03
2019-01-12        NaN  0.002148  NaN        NaN        NaN NaN    NaN
2019-01-13        NaN  0.002094  NaN        NaN        NaN NaN    NaN
2019-01-14  13.060466  0.002183  NaN  15.126770  79.910004 NaN  14.13
2019-01-15  13.226842  0.002111  NaN  15.020379  81.199997 NaN  14.31

                                  ... Open                           Volume  \
            DOGE-USD FOXA    GME  ... FOXA    GME        UAL  ZM        AMC
Date                              ...
2019-01-11  0.002129  NaN  15.85  ...  NaN  15.86  80.680000 NaN   578600.0
2019-01-12  0.002148  NaN    NaN  ...  NaN    NaN        NaN NaN        NaN
2019-01-13  0.002094  NaN    NaN  ...  NaN    NaN        NaN NaN        NaN
2019-01-14  0.002183  NaN  15.64  ...  NaN  15.84  79.279999 NaN  1414200.0
2019-01-15  0.002111  NaN  15.53  ...  NaN  15.60  80.589996 NaN   646600.0


              DOGE-USD FOXA        GME        UAL  ZM
Date
2019-01-11  17187243.0  NaN  2419800.0  4325300.0 NaN
2019-01-12  14167258.0  NaN        NaN        NaN NaN
2019-01-13  18059306.0  NaN        NaN        NaN NaN
2019-01-14  18534843.0  NaN  3610900.0  3951200.0 NaN
2019-01-15  15986348.0  NaN  2228200.0  5971900.0 NaN

[5 rows x 36 columns]

In [7]:
nlp_df.shape

(1056, 36)

In [9]:
nlp_df.to_csv("/Users/Aarushi/Duke/MIDS - Fall 2021/Fall 2021/703_IDS_NLP/Final Project/yf_data.csv", encoding='utf-8', index=False)